google-generativeai
sentence-transformers
scikit-learn
pymongo
numpy
rapidfuzz
flask
flask-cors
importlib-metadata
llama-cpp-python
python-dotenv
pandas
numpy
scikit-learn
scipy
joblib
fastapi
uvicorn
accelerate>=0.26.0
